.inside-page {
  &__content {
    background-image: url(../img/tabs-bg.png);
    background-size: 100%;
    background-position: top center;
    padding-top: 56px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #000;
    font-family: var(--font-main);
  }
}
