.inside-page {
  &__content {
    background-image: url(../img/tabs-bg.png);
    background-size: 100%;
    background-position: top center;
    padding-top: 56px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include vp-768 {
      background: none;
      padding-top: 0;
      gap: 30px;
      padding-bottom: 60px;
      .tab-content-banner {
        margin-top: 30px;
      }
    }
    > .inside-page__title {
      margin-bottom: -30px;
      @include vp-768 {
        margin-bottom: 0;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #000;
    font-family: var(--font-main);
  }
  &__subtitle {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #000;
    @include vp-768() {
      font-size: 18px;
    }
  }
}
.default-margin {
  margin-top: 80px;
  @include vp-768 {
    margin-top: 60px;
  }
}

body {
  @include vp-768 {
    background-image: url(../img/tabs-bg.png);
    background-position: center top;
  }
  &.js-hidden {
    position: relative;
    overflow: hidden;
  }
  &.js-people {
    [data-tab="people"] {
      display: block;
    }
    @include vp-768() {
      .header__login--people {
        display: flex;
      }
    }
  }
  &.js-bussines {
    [data-tab="bussines"] {
      display: block;
    }
    @include vp-768() {
      .header__login--bussines {
        display: flex;
      }
    }
  }
}

.other-block {
  @include vp-500 {
    margin-top: 50px;
  }
}
