.showmore {
  display: flex;
  justify-content: center;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    color: #028103;
    transition: 0.3s;
    svg {
      margin-top: -1px;
      fill: #028103;
    }
    @include hover {
      opacity: 0.8;
      svg {
        transform: rotate(180deg);
      }
    }
    svg {
      margin-right: 8px;
      height: 18px;
      width: 18px;
      transition: 0.3s;
    }
  }
}
